.vscode/
node_modules/
.env
*.csproj
.idea
YARR_Game/.vs/YARR_Game/v15/Server/sqlite3/storage.ide
YARR_Game/.vs/YARR_Game/v15/Server/sqlite3/storage.ide-shm
YARR_Game/.vs/YARR_Game/v15/Server/sqlite3/storage.ide-wal
YARR_Game/Temp