html {
  scroll-behavior: smooth;
}

body {
	margin:0;
  padding:0;
}

.header-login-signup, .header-login-signup .header-limiter a, 
.header-login-signup .header-limiter ul button, .interruptedMsg,
.greenButton, .yellowButton, .gameCodeCopy, .indexedStep {
  color: #FFFFFF;
}

.header-login-signup {
	background-color:#292c2f;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
  box-sizing: border-box;
  transition: top 0.3s;
}

.header-login-signup .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

.barLoader {
  position: relative;
  width: 150px;
  height: 150px;
  left: 43%;
}

/* Logo */
.header-login-signup .header-limiter h1{
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

/* The navigation links */

.header-login-signup .header-limiter a {
	text-decoration: none;
}

.header-login-signup .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

.header-login-signup .header-limiter nav a{
	font-size: 14px;
	display: inline-block;
	padding: 0 5px;
	opacity: 0.9;
	text-decoration:none;
	line-height: 1;
}

.header-login-signup .header-limiter nav a:hover {
	opacity: 1;
}

.header-login-signup .header-limiter nav a.selected {
	color: #608bd2;
}

/* Login/Sign up buttons */
.header-login-signup .header-limiter ul button {
    background:none;
    border:none;
}
.header-login-signup .header-limiter ul {
	font: 14px Arial, Helvetica, sans-serif;
	list-style: none;
	line-height: 3;
	float: right;
}

.header-login-signup .header-limiter ul li {
	display: inline-block;
	margin-left: 15px;
	opacity:0.9;
}

.header-login-signup .header-limiter ul li:hover{
	opacity: 1;
}

/* The sign up button */

.header-login-signup .header-limiter ul li:last-child a {
	font-weight: bold;
	background-color: #3a3c3e;
	padding: 10px 15px;
	border-radius: 3px;
}

/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-login-signup {
		padding: 25px;
		height: 85px;
	}

	.header-login-signup .header-limiter h1 {
		float: none;
		margin: -8px 0 2px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-login-signup .header-limiter nav {
		margin: 0;
		float: none;
	}

	.header-login-signup .header-limiter nav li a {
		font-size: 13px;
	}

	.header-login-signup .header-limiter ul {
		display: none;
	}

}

.signIn {
  position: relative;
  left: 50%;
  margin-top: 60px;
  transform: translate(-50%);
  width: 30%;
}

.login-btn {
  box-shadow: none !important;
}

textarea {
  resize: none !important;
}

.studyList, .studyBuilder, .experimentBuilder, .experimentList {
  margin-top: 35px;
}

.trashIcon, .warningText {
  color: #B33A3A;
}

.interruptedInstances {
  position: relative;
  top: 100px;
  margin-bottom: 50px;
}

.svgBlock {
  fill: transparent;
}

.nonFocus {
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  fill: #292c2f;
  opacity: 0.4;
}

.warningText, .centerText, .interruptedMsg, .gameCode, .gameCodeWrapper {
  text-align: center;
}

.interruptedMsg {
  margin-top: 25px;
  background-color: #B33A3A;
}

.popUpButton {
  position: relative;
  float: right;
}

.greyBackground {
  width: 100%;
  height: 100px;
  border-radius: 5px;
}

.viewCodeButton {
  font-size: 10px;
  margin-left: 20px;
  position: relative;
}

.editIcon {
  color: rgb(95, 95, 95);
}

.editIcon, .trashIcon {
  font-size: 18px;
}

a.linkHolder,
a.linkHolder:hover {
  color: inherit;
}

.breadcrumb {
  background-color: #FFFFFF !important;
}

.insightCard {
  width: 100%;
  min-height: 500px;
  margin-top: 25px;
  margin-right: 25px;
  box-shadow: none !important;
}

.insightHolder {
  width: 90%;
  position: relative;
  left: 15%;
}

.addFirstStudy, .addStudy {
  position: relative;
  background-color: #62c462 !important;
}

.addStudy {
  float: right;
}

.addFirstStudy {
  left: 50%;
  transform: translate(-50%);
}

.zeroInputRemaining:focus {
  border-color: #B33A3A !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
}

.greenButton {
  background-color: #62c462 !important;
}

.yellowButton {
  background-color: #ffae42 !important;
}

.input-limit {
  position: relative;
  float: right;
  font-size: 12px;
  font-weight: bold;
}

.invisButton, .buttonNoShow {
  border: none;
  background-color: white;
}

.buttonNoShow {
  width: 100%;
  height: 100%;
}

.buttonNoShow:focus, .gameCodeCopy:focus, .invisButton:focus {
  outline:none;
}

.invisButton {
  float: right;
  position: relative;
  width: 30px;
  margin-left: 15px;
}

.difficultyPic {
  height: 45px;
  width: 40px;
  float: left;
  margin-right: 5px;
}

.modePic {
  height: 45px;
  width: 40px;
  float: left;
  margin-right: 5px;
}

.difficultyText {
  padding-top: 5px;
}

.roundNumber {
  position: relative;
  font-size: 10px;
  margin-top: 5px;
  left: 5%;
}

.cardTitle {
  margin-bottom: 20px !important;
}

.cardInfoHolder{
  position: relative;
  margin-top: 25px;
}

.cardInlineText{
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 0.5px;
} 

.FormMargins {
  margin-bottom: 30px;
}

.form-row {
  justify-content: flex-end;
}

.builderImage, .disabledImage {
  height: 100%;
  width: 100%;
  opacity: 0.5;
  outline: 2px solid #608bd2;
  padding: 5px;
  margin-top: 10px;
}

.interruptedIndicator {
  padding-top: 10px;
  color: #FF9494;
  font-size: 14px;
  font-weight: bold;
}

.builderImage:hover {
  opacity: 1;
}

.inputPicHolder {
  position: relative;
  float: left;
  left: 5%;
  margin-right: 20px;
}

.hideRadio {
  opacity: 0;
  width: 0;
  height: 0;
}

.inputImage:hover {
  cursor: pointer;
}

.selectedVisual {
  opacity: 1;
}

.clear {
  clear: both;
}

.card {
  margin-bottom: 10px;
}

.codeButton {
  float: right;
  width: 185px;
}

.startExperiment {
  position: relative;
  border-radius: 1px;
  border-style: solid;
  width: 50%;
  left: 50%;
  transform: translate(-50%);
}

.gameCode {
  font-weight: bold;
  color: #3a3c3e;
  width: 100%;
}

.gameCodeWrapper {
  border-radius: 5px;
  background-color: #f5f5f5;
  display: inline-block;
  zoom: 1; /* Trigger hasLayout */
  width: 100%;
}

.gameCodeCard {
  width: 450px;
  height: 250px;
}

.gameCodeCopy {
  background-color: #608bd2;
  border-radius: 10px;
  border: none;
  width: 100%;
  margin-top: 15px;
}

.imageLableInput {
  width: 295px;
  height: 150px;
  padding-left: 10px;
  text-align: center;
}

.cardSmall {
  min-width: 175px !important;
  width: fit-content;
  float: left;
  margin-right: 10px;
}

.difficultyHolder {
  position: relative;
  left: 15%;
  margin-top: 35px;
}

.changeFormButton {
  background:none;
  border:none;
  text-decoration: underline;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.indexedStep {
  width: 20px;
  height: 20px;
  font-size: 12px;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gotIt {
  position: relative;
  bottom: 125px;
}

.builderButton {
  position: relative;
  top: 15px;
  margin-bottom: 35px;
}

.experimentExplanation {
  position: relative;
  bottom: 50px;
}

.indexedStep.accomplished {
  background-color: rgba(0, 116, 217, 1);
}

.redBorder {
  border-color: #B33A3A !important;
}

.signIn {
  min-height: 582px;
}